# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# PyInstaller files
*.exe
*.manifest
*.log
